{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <div class="container">
        <div class="cm_head2">
            <h3>
                about us            </h3>
        </div>
        <div class="row abt_rw">
            <div class="col-md-6 abt_lef">
                <img src="http://bcmexchange.osiztechnologies.in/design_cab/images/abt_im1.png" class="img-fluid">
            </div>
            <div class="col-md-6 abt_rig mt-3 mt-md-0">
                <p>about content</p>
            </div>
        </div>
    </div>
</section>

{% endblock contents %}

<!--<footer class="foot_sc1 wow fadeInUp">
  <div class="container">
    <div class="foot_cpy">
      <p>Copyright 2020 @ BCM Exchange All rights reserved.</p>
    </div>
  </div>
</footer> -->


