{% extends 'base.html' %}
{% load static %}

{% block contents %}
<section class="cms_sc2 wow fadeInUp">
  <div class="container">
    <div class="cm_head2">
    <h3>What is Bitcoin</h3>
    </div>
    <div class="cms_cn1 text-center">   
    <p>Lorem Ipsum lorem quis bibendum auctor, nisi elit consequat amet ipsum bibendum, sagittis uis nostrud e
xercitation ullamco laboris vulputate ut aliquip ex ea commodo consequat.</p>      
    <div class="what_vid text-center mx-auto">
    <!--<iframe width="1000" height="345" src="https://www.youtube.com/embed/i1Pn89qQS6Y">
</iframe>-->
<iframe width="1000" height="345" src="https://www.youtube.com/embed/Gc2en3nHxA4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</section>

{% endblock contents%}