{% extends 'base.html' %}
{% load static %}

{% block contents %}
<section class="cms_sc2 wow fadeInUp">
  <div class="container">
    <div class="cm_head2">
    <h3>Fees</h3>
    </div>
    <div class="cms_cn1">
    <h4>What are the new fees ?</h4>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
    </p>
    <h4>What is Exchange Fees ?</h4>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
    </p>        
    </div>
  </div>
</section>
{% endblock contents%}